.margin { margin-bottom: 45px; }
        .bg-1 {
            background-color: #f2f2ff; /*f4d03f*/
            color: #5d5d5d;
            text-align: left;
        }
        
        /*navigation bar*/
        .container-fluid {
            padding-top: 5px;
            padding-bottom: 70px;
          }

          .bg-2 {
            background-color: #ffe6e6;
            color: #000;
        }

        .body {
            background-color: #ffc5c4;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, #ffdfd3 0%, #fec8d8 100%);
            overflow-x: hidden;
            transition: 0.1s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 17px;
            font-family: calibri;
            color: #000;
            font-style: bold;
            display: block;
            transition: 0.3s;
            letter-spacing : 0.5px;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #main {
            transition: margin-left .3s;
            padding: 16px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }

        navg {
            float: left;
            width: 30%;
            height: 1000px;  /*600px*/
            background: #000
            padding: 20px;
        }

        article {
          float: right;
          padding: 20px;
          width: 70%;
          /*background-color: #ffe6e6; f4d03f*/
          height: 300px; 
        } 
